/* Desktop/Laptop Layout - min-width: 1200px */
/* Global Elements */
a {  text-decoration: none; color: #fff; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ul {  list-style: none; } */

.site-header {
  padding: 3% 5%;
}


.nav {  font-family: 'Raleway', sans-serif; }

.header-logo{
  vertical-align: middle; 
  padding-right: 50%;
}
.header-nav__menu {
  color: hsl(238, 22%, 44%);
  padding-right: 3%;
  font-size: 1.1rem;
}